<h3> Calculators </h3>
<form action="/square_root/results">
  <div>
    <label for="alice">Enter a number</label>
  </div>
  <div>
    <input id="alice" type="text" name="number">
  </div>
  <button>Calculate square root </button>
</form>
